<div class="row">
  <div class="col-xs-12">
    <p class="lead">Acesso Rápido</p>

    <div class="btn-group btn-group-justified btn-new-entry">
      <%= link_to new_entry_path(entries_type: Entry.entries_types[:expense]), class: 'btn btn-danger btn-lg' do %>
        <i class="fa fa-plus"></i>
        Nova Despesa
      <% end %>
      <%= link_to new_entry_path(entries_type: Entry.entries_types[:income]), class: 'btn btn-success btn-lg' do %>
        <i class="fa fa-plus"></i>
        Nova Receita
      <% end %>
    </div>
  </div>
</div>
