<div class="row">
  <div class="col-lg-12">
    <p class="lead">Resumo financeiro do mês de <%= I18n.t("date.month_names")[Date.today.month] %></p>
  </div>

  <% if @entries.empty? %>
    <%= render 'no_data' %>
  <% else %>
    <div class="col-lg-6">
      <span class="text-muted">Despesa Total</span>
      <h4 class="text-danger expenditure-title">
        <%= number_to_currency(@totalizer_expenses, unit: @current_account.read_attribute('currency_type'), separator: ",", delimiter: ".") %>
      </h4>
    </div>

    <div class="col-lg-6">
      <span class="text-muted">Receita Total</span>
      <h4 class="text-success balance-title">
        <%= number_to_currency(@totalizer_incomes, unit: @current_account.read_attribute('currency_type'), separator: ",", delimiter: ".") %>
      </h4>
    </div>
  <% end %>
</div>
