<div class="row">
  <div class="col-lg-12">
    <h6>Resumo Financeiro</h6>
  </div>
  <div class="col-lg-6">
    <h4 class="expenditure-title">Despesa Total</h4>
  </div>
  <div class="col-lg-6">
    <h4 class="balance-title">Receita Total</h4>
  </div>
</div>



