<div class="row">
  <div class="col-lg-12">
    <p class="lead">Top 5 categorias deste mês</p>
  </div>

  <% if @entries.empty? %>
    <div class="col-lg-12 text-center not-found-box">
      <i class='fa fa-exclamation-circle fa-4x muted'></i>
      <h5 class='muted'>Nenhum lançamento encontrado para montar este gráfico</h5>
    </div>
  <% else %>
    <div class="col-lg-12">

    </div>
  <% end %>
</div>
