<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 text-center">
            <% if @entry.entries_type == Entry.entries_types[:income] %>
              <h3>Nova Receita</h3>
            <% else %>
              <h3>Nova Despesa</h3>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
