<section>
  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Sobre</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container" id="resources">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-lg-3 col-md-4 text-left">
              <h1><i style="margin-top: 8px;" class="fa fa-laptop fa-5x"></i></h1>
            </div>
            <div class="col-lg-9 col-md-8 text-left">
              <h3>Sobre o sistema</h3>
              <p>
                O sistema foi desenvolvido totalmente para trazer mais simplicidade à vida do usuário, sempre buscando da melhor forma facilitar o uso de nosso sistema, onde estamos sempre trabalhando para lhe ajudar a organizar seu tempo de maneira rápida e fácil. Com o Gênese isto se tornou possível, pois seu visual foi trabalhado para ter uma interface amigável, onde você consegue ter interação com o sistema sem muita complicação, sem esforço e sem o uso de tutoriais. Caso ainda assim precise de uma ajudinha entre na nossa seção de ajuda que encontrará várias dicas legais.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-lg-9 col-md-8 text-right">
              <h3>Sobre o app</h3>
              <p>
                O aplicativo é uma extensão do sistema, onde você terá acesso ao Gênese em qualquer lugar a qualquer hora, basta abrir o aplicativo e fazer seus lançamentos ou visualizá-los. O aplicativo disponibiliza para o usuário ações como adicionar, editar, excluir ou visualizar lançamentos.
              </p>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <h1><i style="margin-top: -18px;" class="fa fa-mobile fa-5x"></i></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
