<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Gênese - O seu sistema de controle financeiro</h1>
      <hr class="extended">
      <p>
        Gênese é um sistema 100% web, ou seja, pode ser acessado <br>
        através de qualquer dispositivo ou computador<br>
        que tenha acesso a internet.
      </p>
      <%= form_tag(new_user_registration_path, method: "get", class: 'form-inline') do %>
        <%= email_field_tag :email, nil, required: true, class: "form-control input-lg email-input", placeholder: 'Digite seu e-mail' %>
        <%= submit_tag 'Cadastre-se', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3 class="section-heading">Recursos que vão lhe dar maior controle de seu dinheiro</h3>
      </div>
    </div>
  </div>

  <div class="container" id="resources">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
              <div class="service-box">
                  <i class="fa fa-5x fa-pie-chart wow bounceIn text-primary"></i>
                  <h3>Relatórios</h3>
                  <p class="text-muted">Relatórios simples e fáceis com informações úteis para lhe ajudar a controlar seus gastos.</p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
              <div class="service-box">
                  <i class="fa fa-5x fa-envelope wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>E-mails</h3>
                  <p class="text-muted">Notificações via e-mail, para lhe ajudar a manter suas contas e finanças sempre em dia.</p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
              <div class="service-box">
                  <i class="fa fa-5x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Dashboard</h3>
                  <p class="text-muted">Visualização de despesas e gastos de modo facilitador e ágil. Informações ao seu alcance, em apenas uma tela.</p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 text-center">
              <div class="service-box">
                  <i class="fa fa-5x fa-android wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h3>Aplicativo mobile</h3>
                  <p class="text-muted">Lançamentos de forma fácil e rápida, é possível. Com o aplicativo Gênese você tem a facilidade de acesso na palma de suas mãos!</p>
              </div>
          </div>
      </div>
  </div>
</section>
