<section>
  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Vantagens</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="advantages">
    <div class="container" id="resources">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-left">
          <h3><i class="fa fa-envelope"></i> E-mail</h3>
          <p>
            O sistema conta um diferencial de notificação via envio de e-mail, onde o usuário será notificado antecipadamente a cada vencimento de seus lançamentos no sistema. Este envio de e-mail tem como objetivo melhorar o gerenciamento de contas, onde o usuário poderá escolher quanto tempo antes ele deseja ser notificado via e-mail.
          </p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-right">
          <h3>Dashboard <i class="fa fa-bar-chart"></i></h3>
          <p>
            O sistema conta também com a parte de dashboard que oferece ao usuário melhor aproveitamento do sistema, deixando todas as informações necessárias em apenas um lugar, facilitando e agilizando da melhor forma. No dashboard você pode visualizar seus lançamentos, gráficos de contas e suas despesas gerais.
          </p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-left">
          <h3><i class="fa fa-android"></i> Aplicativo mobile</h3>
          <p>
            Para que você possa deixar seus lançamentos sempre atualizados, no momento em que você desejar, está disponível o aplicativo do sistema. Nele você terá opções de adicionar, excluir, editar e consultar lançamentos. Nele você poderá fazer as mesmas ações que pode fazer em um computador, você terá a facilidade do sistema bem pertinho de você.
          </p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-right">
          <h3>Categorias <i class="fa fa-tags"></i></h3>
          <p>
            As categorias é um modo de separa seus lançamentos de forma organizada, onde você poderá criar suas categorias de forma que melhore sua organização, facilitando a identificação de cada lançamento. Cada categoria recebe uma cor que é de sua escolha, podendo você editar ou excluir qualquer categoria já criada.
          </p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-left">
          <h3><i class="fa fa-pie-chart"></i> Relatórios</h3>
          <p>
            Em relatórios você pode ter controle de suas despesas e receitas mensais. Você poderá visualizar seus lançamentos de maneira simples e fácil, onde terá gráficos de seus lançamentos separando por receitas, despesas e por meses.
          </p>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-right">
          <h3>Lançamentos <i class="fa fa-usd"></i></h3>
          <p>
            Agora seus lançamentos serão da forma que você preferir, podendo optar pelo tipo de moeda que você utiliza, escolhendo entre euro, dólar ou real. Sem contar que você poderá ordenar seus lançamentos como você achar melhor, crescente ou decrescente, é só escolher e lançar.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
