<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Configurações</h3>
          </div>
        </div>

        <%= render 'categories' %>
        <%= render 'form' %>
        <% if @current_account.owner == current_user.id %>
          <%= render 'delete_account' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
