<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gênese</a>
    </div>

    <div class="navbar-collapse collapse" id="collapse-navbar" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/dashboard">Dashboard</a></li>
        <li><a href="#">Lançamentos</a></li>
        <li><a href="#">Relatórios</a></li>
        <li><a href="#">Contas</a></li>
        <li><a href="#">Configurações</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Perfil', edit_user_registration_path %></li>
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
