header {
  background-image: url(asset_path('workstation.jpg'));
  // background-color: white;
}

#title {
  background-color: #00E676;

  h1 {
    color: white;
  }
}

#advantages {
  background-color: white;
}

#resources,
#login,
#register {
  padding-bottom: 48px;
}

.email-input {
  min-width: 320px!important;
}
