header {
  background-image: url(asset_path('workstation.jpg'));
  // background-color: white;
}

#title {
  background-color: #00E676;
  padding-bottom: 42px;

  h1 {
    color: white;
  }
}

#advantages {
  background-color: white;
}

#about,
#resources,
#contact_form,
#login,
#register,
#updatepassword,
#forgotpassword {
  padding-bottom: 98px;
}

.email-input {
  min-width: 320px!important;
}
