header {
  background-image: url(asset_path('workstation.jpg'));
}

#title {
  background-color: $theme-primary;
  padding-bottom: 42px;

  h1 {
    color: white;
  }
}

#about,
#advantages {
  background-color: white;
}

#about,
#contact_form,
#forgotpassword,
#help-center,
#login,
#register,
#resources,
#updatepassword {
  padding-bottom: 32px;
}

.email-input {
  min-width: 320px!important;
}

.brand-image {
  margin-top: -8px;
}
