<section>
  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Formulário de contato</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="contact_form">
    <div class="container" id="resources">
      <%= render 'shared/flash' %>

      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                  <%= render 'form' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
