.account {
  &__badge {
    float: right;
    color: white;
    background-color: $genese-green;
    padding: 0 6px;
    border-radius: 4px;
    margin-top: 3px;
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;

    &:hover {
      background-color: $list-hover-color;
    }
  }

  &__link {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    font-size: 1.6rem;
    color: $dark-gray;

    &:hover {
      text-decoration: none;
      color: lighten($dark-gray, 23%);
    }
  }

  &__icon {
    float: right;
    margin-left: 15px;
  }
}
