.entry-header {
  .btn-new-entry {
    display: inline-block;
    float: left;
    margin-top: 8px;
  }

  .btn-margin-right {
    margin-right: 8px;
  }

  .month-selector {
    margin-top: 16px;

    a {
      color: #444;
      text-decoration: none;

      &:active,
      &:hover,
      &:focus,
      &:visited {
        text-decoration: none;
      }
    }
  }
}

.link-icon {
  margin-left: 8px;
  color: #95a5a6;
  text-decoration: none;
  &:hover {
    color: #bdc3c7;
  }

  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;
  }
}

.entry-table > tbody > tr:hover {
  background-color: #EFFFEF;
}
