<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'reports_header' %>

        <% if @expenses.empty? and @incomes.empty? %>
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center not-found-box">
            <i class='fa fa-exclamation-circle fa-4x muted'></i>
            <h5 class='muted'>
              Nenhum lançamento encontrado para criar os relatórios
            </h5>
          </div>
        <% else %>
          <%= render 'tabs' %>
          <%= render 'list_entries_details' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
