<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'reports_header' %>

        <%= render 'tabs' %>
        <%= render 'list_entries_details' %>
      </div>
    </div>
  </div>
</div>
