// colors
$dark-gray: #696969;
$white-green: #EFFFEF;
// $genese-green: #2ECC71;
$genese-green: #2ECC9A;

// variables
$navbar-border-radius: 0;
$navbar-inverse-bg: $genese-green;
$navbar-inverse-link-color: lighten($genese-green, 40%);
$list-hover-color: $white-green;
