<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3>Nova Conta</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
