<div class="row delete-profile">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="well">
      <h4>Deletar meu perfil</h4>
      <%= link_to registration_path(resource_name), data: { confirm: "Você tem certeza que quer deletar seu perfil?" }, method: :delete, class: 'btn btn-danger' do %>
        <span class="fa fa-trash"></span>
        Deletar Perfil
      <% end %>
    </div>
  </div>
</div>
