<div class="row delete-profile">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
    <div class="well">
      <h4>Deletar meu perfil</h4>
      <%= link_to "#", class: "btn btn-danger", data: {toggle: "modal", target: "#profile_modal"} do %>
        <i class="fa fa-trash"></i>
        Deletar Perfil
      <% end %>
    </div>
  </div>
</div>

<%= render 'delete_profile_modal' %>
